{% extends "base.html" %}

{% block content %}

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Sorry there's some issue</h3>
		<div class="card-text">
            <div class="card-text text-center">
                <a href="/" class="btn btn-success">Back</a>
            </div>
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->

		</div>
	</div>
</div>
</div>


{% endblock %}